
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Noto+Serif+JP:wght@200..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aboreto&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  :root {
    --background-image: url('/birthtree-spring.svg');
    --footer-background-getup: url('/getuphiyoko.svg');
    --footer-background-sleep: url('/sleephiyoko.svg');
  }

  .text-balance {
    text-wrap: balance;
  }

  .footer-bg-getup {
    background-image: var(--footer-background-getup);
  }

  .footer-bg-sleep {
    background-image: var(--footer-background-sleep);
  }

  .background {
    background-image: var(--background-image);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom center;
    max-width: 100%;
    max-height: 60vh;
    position: relative;
    bottom: 0;
    width: 100vw;
    height: 100vh;
  }
  
  .wapper {
    margin: 0 auto;
    position: absolute;
    position: bottom center;
    bottom: 0;
    @screen lg {
      width: 40%;
    }
  }

  .friendIcon {
    position: absolute;
    border-radius: 50%;
    object-fit: cover;
  }  
  .friendIcon:hover .hidden-element {
    display: block;
  }
  
  .bg-custom-special-spring {
    @apply bg-customSpecialSpring;
    background-position: left top, right top;
    background-repeat: no-repeat;
    background-size: 70vw, 30vw;
    @screen md {
      background-size: 70vw, 30vw;
    }
    @screen lg {
      background-size: 25vw, 10vw;
    }
  }
  .bg-custom-special-summer {
    @apply bg-customSpecialSummer;
    background-size: 70vw, 30vw;
    background-position: left top, right top;
    background-repeat: no-repeat;
    @screen md {
      background-size: 70vw, 30vw;
    }
    @screen lg {
      background-size: 25vw, 10vw;
    }
  }
  .bg-custom-special-autumn {
    @apply bg-customSpecialAutumn;
    background-position: left top, right top;
    background-repeat: no-repeat;
    background-size: auto;
    @screen md {
      background-size: 70vw, 30vw;
    }
    @screen lg {
      background-size: 25vw, 10vw;
    }
  }
  .bg-custom-special-winter {
    @apply bg-customSpecialWinter;
    background-position: left top, right top;
    background-repeat: no-repeat;
    background-size: auto;
    @screen md {
      background-size: 70vw, 30vw;
    }
    @screen lg {
      background-size: 25vw, 10vw;
    }
  }

  .fukidashi-responsive {
    position: absolute;
    top: -10px;
    pointer-events: none;
    object-fit: contain;
    display: block;
    width: 46px; /* デフォルトの幅 */
    height: auto;
    @screen md {
      width: 50px;
    }
  }
  .text-overlay {
    @apply font-serif text-textbrawnlight;
    position: absolute;
    top: -8px;
    left: 3px;
    width: 100%;
    font-size: 7px;
  }

  @screen md {
    .text-overlay {
      font-size: 8px;
    }
  }
  .profile-image {
    @apply rounded-lg object-cover;

    width: 120px;
    height: 120px;

    @screen sm {
      width: 150px;
      height: 150px;
    }
    @screen md {
      width: 180px;
      height: 180px;
    }
  }
}
